@font-face {
    font-family: "TitleFont";
    src:url("Title.ttf");
    unicode-range: U+0041-007A;
}
@font-face {
    font-family: "ThinFont";
    src:url("Thin.ttf");
    unicode-range: U+0041-007A;
}
.loader {
    border: 16px solid #d1d1d1;
    border-top: 16px solid #464646;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: calc(50vw - 60px);
    margin-top: calc(50vh - 60px);
    animation: spin 1s linear infinite;
    z-index:9999999999;
}
.language_button {
    background-color:rgba(0,0,0,0.4);
    border-radius: .25rem;
    padding: .25rem .5rem;
    cursor: pointer;
}
.HL {
    text-decoration: underline;
    font-weight: bold;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
a:link {
    text-decoration: none;
    color: rgb(148, 148, 255);
}
a:visited {
    color:rgb(148, 148, 255);
}
a:hover {
    color: rgb(112, 112, 255);
}
a:active {
    color: rgb(215, 215, 255);
}
.black_text{
    color:black;
}
.youtube_container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb {
    background: rgb(219, 219, 219);
    border-radius: 1rem; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.main {
    width:100%;
    height: 400%;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color:rgb(37, 37, 37);
    color:white;
    font-family: TitleFont, Arial, Helvetica, sans-serif;
    min-width: 768px;
}
body{
    overflow-y: hidden;
}

.box {
    min-height: 720px;
    width:100%;
    height:100vh;
    position: relative;
    overflow: hidden;
}
.progres_bar {
    position: fixed;
    z-index: 9999;
    width:15px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    float:left;
}
.side_menu {
    position: fixed;
    z-index: 9998;
    width:80px;
    transform: translateX(-80px);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    float:left;
    transition: .5s ease;
}
.side_menu_icon_offset {
    display:flex;
    align-items:center;
    width:100%;
    height:20vh;
}
.side_menu_icon {
    margin-left:18px;
    width:60px;
    height:60px;
    word-break: break-all;
}
.side_menu_icon_afbeelding {
    width:100%;
    height:100%;
    padding:10px;
}
.side_menu_icon_afbeelding:hover {
    width:100%;
    height:100%;
    padding:10px;
    opacity: 1 !important;
    transform: scale(1.1,1.1);
    transition: 0.2s ease;
    cursor: pointer;
}
.side_menu_icon_afbeelding:active {
    transform: scale(0.9,0.9);
    transition: 0.05s ease;
}
.from_up {
    -ms-transform: translateY(-100vh);
    -o-transform: translateY(-100vh);
    -moz-transform: translateY(-100vh);
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
}
.from_down {
    -ms-transform: translateY(100vh);
    -o-transform: translateY(100vh);
    -moz-transform: translateY(100vh);
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
}
.from_left {
    -ms-transform: translateX(-100vh);
    -o-transform: translateX(-100vh);
    -moz-transform: translateX(-100vh);
    -webkit-transform: translateX(-100vh);
    transform: translateX(-100vh);
}
.from_right {
    -ms-transform: translateX(100vh);
    -o-transform: translateX(100vh);
    -moz-transform: translateX(100vh);
    -webkit-transform: translateX(100vh);
    transform: translateX(100vh);
}
.from_blur {
    -ms-filter: blur(100px);
    -o-filter: blur(100px);
    -moz-filter: blur(100px);
    -webkit-filter: blur(100px);
    filter: blur(100px);
}
.smoothstyle {
    transition: 1s ease !important;
}

.site_locator{
    background-color:white;
    box-shadow: 0px 0px 100px white;
    width:6px;
    margin:4px;
    height:0px;
    border-radius:2rem;
}

.home_bg_img{
    background-image: url('bg1.jpg');
}
.about_bg_img{
    background-image: url('bg2.jpg');
}
.projects_bg_img{
    background-image: url('bg3.jpg');
}
.skills_bg_img{
    background-image: url('bg4.jpg');
}
.contact_bg_img{
    background-image: url('bg5.jpg');
}

.background_config{
    width:100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.vertical_align {
    position: absolute;
    width:100%;
    top: 50%;
    transform: translateY(-50%);
}

.profiel_foto {
    border-radius: 100%;
    width: 200px;
    height:200px;
    margin: 5vh;
    transition: 0.3s ease;
}
.profiel_foto:hover {
    transform: scale(1.1,1.1);
    transition: 0.3s ease;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.4);
}
.profiel_foto:active {
    transform: scale(1.05,1.05);
    transition: 0.1s ease;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.4);
}

.header_button{
    padding: .5rem 1rem;
    margin: 0px 2.5vw;
    text-align: center;
    font-family: 'Thinfont';
    font-size: 24px;
    margin-top: 1.25rem;
    transition: 0.1s ease;
    display:inline-block;
    animation: hover 1.25s ease infinite;
}
.header_button:hover {
    transition: 0.2s ease;
    transform: translateY(8px);
    cursor: pointer;
}

@keyframes hover {
    0% {
        transform: translateY(0px);
    }
    35% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(0px);
    }
}

.BigTitle{
    font-family:"TitleFont";
    font-size:62px;
}
.MediumTitle{
    font-family:"TitleFont";
    font-size:40px;
}
.SmallTitle{
    font-family:"TitleFont";
    font-size:16px;
}
.carousel_size {
    width: 1000px;
    height: calc(1000px / 1.77777778);
    margin-left: calc(50vw - 500px);
    display: inline-block;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .05s ease;
    
}
.carousel_size:hover {
    transition: .3s ease;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.carousel_image {
    opacity: 0.9;
    border-radius: 1rem;
    
}
.carousel_title {
    background: linear-gradient(to left,transparent,rgba(0,0,0,0.75),transparent);
}

.responsive_box {
    width: 1350px;
    height: calc(1350px / 1.77777779);
    margin-left: calc(50% - 675px);
    background-color: rgba(0,0,0,0);
    border-radius: 1rem;
}
.ervaring_box_outside {
    height:100px;
    min-width:300px;
    margin: calc(33% - 100px) 0;
}
.ervaring_box_title_area {
    background-color:rgba(0,0,0,0.3);
    height:70px;
    width:100%;
    padding-left:1rem;
}
.ervaring_box_date {
    background-color:rgba(255,255,255,0.05);
    height:30px;
    width:100%;
    line-height:1.75rem;
    padding-left:1rem;
}
.Table_container {
    width: 1350px;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.15);
    border-radius: 1rem;
}
.skill_logo {
    height:70px;
    filter: grayscale(75%);
    transition: .3s ease;
}
.skill_logo:hover {
    transition: .1s ease;
    filter: grayscale(5%);
    transform: scale(1.1,1.1);
}
.sql {
    font-size: 40px;
    font-weight: bold;
}

@media screen and (min-width : 992px) and  (max-width : 1425px) {
    /*medium*/
    .BigTitle{
        font-family:"TitleFont";
        font-size:54px;
    }
    .MediumTitle{
        font-family:"TitleFont";
        font-size:32px;
    }
    .SmallTitle{
        font-family:"TitleFont";
        font-size:14px;
    }
    .header_button{
        padding: .5rem 1rem;
        margin:0px .5vw;
        text-align: center;
        font-family: 'Thinfont';
        font-size: 22px;
        margin-top: 1rem;
        transition: 0.1s ease;
        display:inline-block;
    }
    .profiel_foto {
        border-radius: 100%;
        width: 200px;
        height:200px;
        margin: 3vh;
        transition: 0.3s ease;
    }
    .carousel_size {
        width: 750px;
        height: calc(750px / 1.77777778);
        margin-left: calc(50vw - 375px);
        display: inline-block;
        overflow: hidden;
    }
    .responsive_box {
        width: 900px;
        margin-left: calc(50% - 450px);
        background-color: rgba(0,0,0,0);
        border-radius: 1rem;
    }
    .Table_container {
        width: 900px;
        margin: 0 auto;
        background-color:rgba(0,0,0,0.15);
        border-radius: 1rem;
    }
}
@media screen and (min-width : 1px) and  (max-width : 992px) {
    /*mobile*/
    .header_button{
        padding: .25rem 1rem;
        margin:0px .25vw;
        text-align: center;
        font-family: 'Thinfont';
        font-size: 16px;
        margin-top: 1rem;
        transition: 0.1s ease;
        display:inline-block;
    }
    .BigTitle{
        font-family:"TitleFont";
        display: block;
        font-size: 2em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .MediumTitle{
        font-family:"TitleFont";
        display: block;
        font-size: 2em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }
    .SmallTitle{
        font-family:"TitleFont";
        display: block;
        font-size: 1.17em;
        margin-left: 0;
        margin-right: 0;
    }
    .side_menu {
        position: fixed;
        z-index: 9998;
        width:80px;
        height: 100vh;
        visibility: hidden;
        transition: 0s;
        background-color: rgba(0, 0, 0, 0.7);
    }
    .NameOffset {
        margin-left: calc(50% - 15rem);
    }
    .intro_text {
        padding: 0 2rem;
    }
    .profiel_foto {
        border-radius: 100%;
        width: 200px;
        height:200px;
        margin: 2rem;
        transition: 0.3s ease;
    }
    .carousel_size {
        width: 90vw;
        height: calc(90vw / 1.77777778);
        margin-left: 5vw;
        display: inline-block;
        overflow: hidden;
    }
    .responsive_box {
        width: calc(100% - 100px);
        height: calc(100vh - 120px);
        margin-left: calc(50% - (calc(100% - 100px)/2));
        border-radius: 1rem;
    }
    .ervaring_box_outside {
        height:100px;
        min-width:300px;
        margin: 2rem 0;
    }
    .Table_container {
        width: 760px;
        margin: 0 auto;
        background-color:rgba(0,0,0,0.15);
        border-radius: 1rem;
    }
}

.home_screen_offset_line {
    height:100px;margin-top:5rem;
}

@media screen and (max-height: 770px) {
    .home_screen_offset_line {
        height:100px;margin-top:1.5rem;
    }
}